image: node:latest

# This folder is cached between builds
cache:
  paths:
  - node_modules/
  
stages:
  - build
  - setup
  
variables:
  DISPLAY: ':99.0'
  GOARCH: 'amd64 go build -ldflags -H=windowsgui'
  
before_script:
  - npm install --save-dev
  - dpkg --add-architecture i386
  - apt-get update -y
  - apt-get install -y xvfb zip wine libgtk2.0-0:i386 libnotify4 libgconf-2-4 libxss
  - nohup Xvfb $DISPLAY -ac &
  - sleep 7 # give xvfb some time to start


build:
  stage: build
  artifacts:
    paths:
      - build/
  script:
   - echo "Testing syntax, module dependencies and application execution ..." 
   - npm test
   - echo "Creating platform Zip packages..."
   - npm run build

setup:
  stage: setup
  artifacts:
    paths:
      - build/
  script:
   - echo "Creating platform setup installation packages..."

