image: electronuserland/electron-builder:wine

# This folder is cached between builds
cache:
  paths:
  - node_modules/

stages:
  - test
  - build
  - setup
  
variables:
  DISPLAY: ':99.0'
  GOARCH: 'amd64 go build -ldflags -H=windowsgui'
  
before_script:
  - nohup Xvfb $DISPLAY -ac &
  - sleep 7 # give xvfb some time to start


prepare:
  stage: test
  script:
  - npm install --save-dev --quiet
  - dpkg --add-architecture i386
  - apt-get update -y --quiet
  - apt-get install -y zip --quiet


test:
  stage: test
  script:
   - echo "Testing syntax, module dependencies and application execution ..." 
   - npm test --quiet
  
build:
  stage: build
  artifacts:
    paths:
      - build/target/
      - build/packages/
  script:
   - echo "Creating platform Zip packages..."
   - npm run build

setup:
  stage: setup
  artifacts:
    paths:
      - build/install/
  script:
   - echo "Creating platform setup installation packages..."


release-job:
  script:
    - echo "Releasing files..."
  artifacts:
    paths:
    - build/packages/
    - build/install/
  only:
    - tags