image: node:latest

# This folder is cached between builds
cache:
  paths:
  - node_modules/
  
stages:
  - test
  
variables:
  DISPLAY: ':99.0'
  GOARCH: 'amd64 go build -ldflags -H=windowsgui'
  
before_script:
  - npm install
  - dpkg --add-architecture i386
  - apt-get update -y
  - apt-get install -y xvfb zip wine libgtk2.0-0:i386 libnotify4 electron
  - nohup Xvfb $DISPLAY -ac &
  - sleep 7 # give xvfb some time to start



syntax:
  stage: test
  script:
   - npm test

execution:
  stage: test
  script:
   - npm exec-test

build:
  stage: test
  script:
   - echo "Creating platform Zip packages..."
   - npm install
   - xvfb-run npm run build

setup:
  stage: test
  script:
   - echo "Creating platform setup installation packages..."

