image: electronuserland/electron-builder:wine

# This folder is cached between builds
cache:
  untracked: true
  key: "$CI_BUILD_REF_NAME"
  paths:
  - node_modules/

stages:
  - test
  - build
  - deploy

variables:
  DISPLAY: ':99.0'
  GOARCH: 'amd64 go build -ldflags -H=windowsgui'

before_script:
  - dpkg --add-architecture i386
  - apt-get --quiet update -y
  - apt-get --quiet install -y zip
  - npm install --quiet
  - nohup Xvfb $DISPLAY -ac &
  - sleep 7 # give xvfb some time to start


test:
  stage: test
  script:
   - echo "Testing for syntax, module dependencies and application execution errors ..." 
   - npm install electron grunt grunt-cli grunt-contrib-clean grunt-contrib-jshint grunt-contrib-copy grunt-exec grunt-mkdir grunt-version grunt-zip load-grunt-tasks --quiet
   - npm run clean
   - npm test --quiet


dist-linux:
  stage: build
  artifacts:
    paths:
      - src/dist/*.deb
      - src/dist/*.rpm
      - src/dist/*.tar.gz
      - src/dist/*.AppImage
  script:
   - echo "Creating Linux AppImage..."
   - npm run dist-linux
   - ls -la src/dist/


dist-windows:
  stage: build
  artifacts:
    paths:
      - src/dist/*.exe
      - src/dist/*.zip
  script:
   - echo "Creating Windows installation packages..."
   - npm run dist-windows
   - ls -la src/dist/

dist-mac:
  stage: build
  artifacts:
    paths:
      - src/dist/*.zip
      - src/dist/*.dmg
      - src/dist/*.pkg
  script:
   - echo "Creating MacOS installation packagese..."
   - npm run dist-mac
   - ls -la src/dist/

release:
  script:
    - echo "Releasing platform installation packages..."
  artifacts:
    paths:
    - src/dist/*
    - ls -la src/dist/

  only:
    - tags
