image: electronuserland/electron-builder:wine

# This folder is cached between builds
cache:
  paths:
  - node_modules/

stages:
  - test
  - build
  - setup
  
variables:
  DISPLAY: ':99.0'
  GOARCH: 'amd64 go build -ldflags -H=windowsgui'
  
before_script:
  - npm install --save-dev --quiet
  - dpkg --add-architecture i386
  - apt-get update -y zip
  - nohup Xvfb $DISPLAY -ac &
  - sleep 7 # give xvfb some time to start

test:
  stage: test
  artifacts:
    paths:
      - build/
  script:
   - echo "Testing syntax, module dependencies and application execution ..." 
   - npm test --quiet
  
build:
  stage: build
  artifacts:
    paths:
      - build/
  script:
   - echo "Creating platform Zip packages..."
   - npm run build

setup:
  stage: setup
  artifacts:
    paths:
      - build/
  script:
   - echo "Creating platform setup installation packages..."

