image: node:latest

# This folder is cached between builds
cache:
  paths:
  - node_modules/
  
stages:
  - test
  
variables:
  DISPLAY: ':99.0'
  
before_script:
  - npm install
  - apt-get update -y
  - apt-get install -y xvfb
  - /usr/bin/Xvfb $DISPLAY &
  - sleep 7 # give xvfb some time to start



run1:
  stage: test
  script:
   - npm install
   - Xvfb-run npm run build

    