language: node_js

node_js:
  - 9.4.0

notifications:
  email: true

env:
  global:
  - NPM_CONFIG_PROGRESS="true"

sudo: true

addons:
  apt:
    packages:
    - wine
    - xvfb
    - zip
    - rpm

before_install:
  - npm install

install:
  - sudo add-apt-repository ppa:ubuntu-wine/ppa -y
  - sudo apt-get update
  - sudo apt-get install --no-install-recommends -y wine1.8 rpm icnsutils graphicsmagick xz-utils gcc-multilib g++-multilib libstdc++6-4.7-dev fakeroot

before_script: true

script:
  - echo "Building packages..."
  - npm run release

after_script:
  - echo "Finished Testing"

after_success:
  - echo "Build Successful"

after_failure:
  - echo "WARNING: Build unsuccessful!!!"

before_deploy: 
  - echo "Publishing packages on GitHub..."
  - npm run publish

deploy:
  provider: releases
#  prerelease: true
  strategy: git
  skip_cleanup: true
  app: Majin
  file: 
    - dist/*.zip
    - dist/*.dmg
    - dist/*.pkg
    - dist/*.exe
    - dist/*.deb
    - dist/*.rpm
    - dist/*.tar.gz
    - dist/*.AppImage
    - dist/*.snap
  file_glob: true
  overwrite: true
  on:
    tags: true
    repo: hvmonteiro/majin
    all_branches: true
  api_key: "$API_KEY"

after_deploy:
  - echo "GitHub packages deploy finished."

